@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --background-start-rgb: rgb(22 22 34);
  --background-end-rgb: #020411;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  box-sizing: border-box;
}

body {
  /* color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      var(--background-start-rgb),
      var(--background-end-rgb)
    )
  no-repeat; */
  background: linear-gradient(90deg,#020411 17px,transparent 1%) 50%,linear-gradient(#020411 17px,transparent 1%) 50%,#3d3d3d;
  background-size: 18px 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mask-container {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}

.scroll-container {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none;  /* WebKit */
}

.profile-picture {
  box-shadow:
    0 0 0 10px rgba(52, 152, 219, 0.1),
    0 0 0 15px rgba(52, 152, 219, 0.05);
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgb(39 190 255); /* Light blue color */
  transition: width 0.3s ease-in-out;
}

.underline-animation.active::after {
  width: 100%;
}